{% extends "base.html" %}

<!--
    Blog post form
    Needs: 
        new_post_title (may be empty)
        new_post_body (may be empty)
  -->

{% block content %}
<h1>What would you like to say?</h1>
<form action="/new_post" method="post">

        <label for="title_field">Title: </label>
        <input id="title_field" name="title" type="text" value="{{ new_post_title }}">

        <label for="body_field">Body:</label>
        <textarea rows="4" cols="50" id="body_field" name="body" >{{ new_post_body }}</textarea>

    <input id="submit_button" type="submit" value="Save">
</form>
{% endblock %}